{% include 'base.html' %}

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="./static/images/profile_pic.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="300" height="300" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Who Am I?</h1>
        <p class="lead">My name is Adnan Ghadieh, I was born in Lebanon and moved to Canada when I was 15 years old.
      I've lived my whole life in Ottawa, ON. I'm a software developer, most of the work I've done was with Java and
      Python</p>
      </div>
    </div>

    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="./static/images/carleton_uni.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="300" height="300" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">My Education</h1>
        <p class="lead">I came to Canada when I was 15 years old, I was starting high-school right away. I went to
        Carleton Place High School (CPHS) for the first semester of grade 9. Then I moved to Kanata, Ottawa and went to
        Earl of March Secondary School. After I finished high-school I got accepted at Carleton University for a Major in
        Computer Science and a minor in Psychology.</p>
      </div>
    </div>

    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="./static/images/beaches.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="300" height="300" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">My Hobbies</h1>
        <p class="lead">One of my favorite hobbies is to travel even though I started enjoying this hobby kind of late,
        but like they say better late than never. So far I've been to: Cuba, Mexico, Dominican Republic, Dubai, Saudi
        Arabia, Thailand. My plan is to travel more when the opportunity presents itself.</p>
        <p class="lead">Another hobby of mine is cooking. I love all kinds of food and I love trying new food
        especially food from different cultures.</p>
        <p class="lead">Some other hobbies: I like hitting the gym in my free time, going to the 'beach' in the summer
        and play beach volleyball (if you want to call them beaches in ottawa 😅)</p>
      </div>
    </div>
  </div>

{% include 'footer.html' %}