{% include 'base.html' %}

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Contact Me</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="static/images/email.svg" alt="email" height="30">
        </div>
        <h3 class="fs-2 text-body-emphasis">Email</h3>
        <p> You can reach me on:</p>
        <ul>
          <li><a href="mailto:aaghadieh@gmail.com">aaghadieh@gmail.com</a></li>
        </ul>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="static/images/telephone-inbound.svg" alt="telephone-inbound" height="30">
        </div>
        <h3 class="fs-2 text-body-emphasis">Phone Number</h3>
        <p> You can reach me on:</p>
        <ul>
          <li>🇨🇦 <a href="tel:+16139794478"> +1 (613) 979-4478</a></li>
          <li>🇸🇦 <a href="tel:+966540056198"> +966 54 005 6198</a></li>
        </ul>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="static/images/whatsapp.svg" alt="whatsapp" height="30">
        </div>
        <h3 class="fs-2 text-body-emphasis">WhatsApp</h3>
        <p>You can reach me on:</p>
        <ul>
          <li>🇨🇦 <a href="tel:+16139794478">+1 (613) 979-4478</a></li>
        </ul>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <img src="static/images/linkedin.svg" alt="linkedin" height="30">
        </div>
        <h3 class="fs-2 text-body-emphasis">Linkedin</h3>
        <p>Click <a href="https://www.linkedin.com/in/adnan-g/" class="icon-link">here</a> to view my page</p>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="static/images/github.svg" alt="github" height="30">
        </div>
        <h3 class="fs-2 text-body-emphasis">GitHub</h3>
        <p>Click <a href="https://github.com/adn87" class="icon-link">here</a> to view my page</p>
      </div>
    </div>
  </div>
{% include 'footer.html' %}